.container {
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}

.columns{
  display: flex;
}

.badge-wrapper {
  padding: .7rem;
  width: 10%;
  background: #fff;
}

.img-wrapper {
  padding: .7rem;
  width: 15%;
  background: #fff;
}

.insurance-wrapper {
  padding: .7rem;
  width: 75%;
  background: #fff;
}
table {
  width: 100%;
}
table td {
  text-align: center;
  width: 33%;
}

table th {
  color: #9ba4ab;
}
.badge {
  display: inline-flex;
  background-color: rgb(255, 62, 62);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 0px .5rem;
  border-radius: 12px;
}
h4, h5 {
  text-align: left;
  margin: 1rem;
  margin-top: 0px;
  margin-left: .5rem;
}
p {
  text-align: left;
  margin-left: 1rem;
  margin-top: 0px;
  padding: 0px;
}
.homeloan-wrapper, .policy-detail-wrapper {
  border: 1px solid rgb(116, 111, 111);
  border-top: .3rem solid #fa2;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    background: none;
    padding: 0 5%;
  }
  .columns{
    flex-direction: column;
  }
  .flex-item {
    width: 100%;
  }
}

